@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

.hero {
    background-image: url(../imagenes/imagen1.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

.hero h1 {
    font-size: 3rem;
    line-height: 1.5;
    font-family: 'Space Grotesk', sans-serif;
    display: inline-block;
    padding: 10px 20px;
    margin: 0;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
}

h1 span {
    background: #181A1D;
    color: #fff;
    padding: 5px 30px 0;
}

.services .card img {
    height: 200px;
    object-fit: cover;
}

.services p {
    margin-top: 30px;
}

.navbar-nav .nav-item {
    margin: 0 60px;
}

.navbar-nav .nav-link {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 700;
}

.custom-p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
}

.custom-p2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3rem;
}

.section {
    display: flex;
    align-items: center;
    justify-content: right;
    background-color: #35CB67;
    color: white;
    height: auto;
}

.text-container {
    flex: 1;
    padding: 100px;
    text-align: left;
}

.image-container {
    flex: 1;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 0;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 913px) {
    .section {
        flex-direction: column;
        padding: 0;
    }

    .text-container {
        padding: 10px;
        text-align: center;
        width: 100%;
    }

    .image-container {
        width: 100%;
        padding: 0;
    }

    .image-container img {
        width: 100%;
        height: auto;
    }

    .section .image-container {
        height: 50vh;
    }

    .section img {
        height: 100%;
        width: auto;
    }

    .text-container p {
        display: block;
    }
}

.footer-section {
    background-color: #181A1D;
    color: white;
    padding: 20px;
    text-align: center;
}

.footer-logo-img {
    height: 50px;
    margin-bottom: 10px;
}
