
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

.hero {
    background-image: url(../imagenes/imagen1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}
.hero h1 {
    font-size: 3rem;
    line-height: 1.5; /* Espaciado entre líneas */
    font-family: 'Space Grotesk', sans-serif;
    display: inline-block;
    padding: 10px 20px;
    margin: 0;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    
}
h1  span{
    background: #181A1D;
    color: #fff;
    padding: 5px 30px 0;
}
.services .card img {
    height: 200px;
    object-fit: cover;
}
.services p {
    margin-top: 30px;
}
.navbar-nav .nav-item {
    margin: 0 60px; /* Agrega margen a los elementos de navegación */
}
.navbar-nav .nav-link {
    font-family: 'Roboto', sans-serif; /* Aplica la fuente Roboto a los enlaces de navegación */
    font-size: 1rem; /* Ajusta el tamaño de la fuente si es necesario */
    font-weight: 700; /* Hace que el texto esté en negrita */
}
.custom-p {
    font-family: 'Open Sans', sans-serif; /* Aplica la fuente Open Sans al párrafo */
    font-size: 1.5rem; /* Ajusta el tamaño de la fuente del párrafo */
}
.custom-p2{
    font-family: 'Open Sans', sans-serif; /* Aplica la fuente Open Sans al párrafo */
    font-size: 1.3rem; /* Ajusta el tamaño de la fuente del párrafo */
}
.section {
    display: flex;
    align-items: center;
    justify-content: right;
    background-color: #35CB67; /* Fondo verde */
    color: white;
    height: auto; /* Cambiar a auto para permitir que la altura se ajuste al contenido */
}

.text-container {
    flex: 1;
    padding: 100px;
    text-align: left;
}

.image-container {
    flex:1;
    display: flex;
    justify-content:right;
    align-items:center;
    padding: 0;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 913px) {
.section {
    flex-direction: column;
    padding: 0;
}

.text-container {
    padding: 10px;
    text-align: center;
    width: 100%;
}

.image-container {
    width: 100%;
    padding: 0;
}

.image-container img {
    width: 100%;
    height: auto;
}

.section .image-container {
    height: 50vh;
}

.section img {
    height: 100%;
    width: auto;
}
}

.text-container h1 {
font-family: 'Space Grotesk', sans-serif;
font-size: 4rem; /* Aumenta el tamaño del título principal */
padding-bottom: 50px;
}

.text-container h2 {
font-family: 'Open Sans', sans-serif;
font-size: 2.5rem; /* Aumenta el tamaño del subtítulo */
}

.text-container p {
font-family: 'Open Sans', sans-serif;
font-size: 2rem; /* Aumenta el tamaño del texto del párrafo */
}

.custom-bg {
background-color: red; /* Color de fondo personalizado */
}
